/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  font-size: 62.5%;
  background-color: lightgreen;
}

* {
  box-sizing: border-box;
}

@media (max-width:819px) {
  .desktop-only {
    display: none;
  }
}

.mobile-only {
  display: none;
}
@media (max-width:819px) {
  .mobile-only {
    display: flex;
  }
}

#main-logo {
  width: 10%;
}

header nav {
  background-color: darkgreen;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
header nav > * {
  width: 50%;
  align-items: center;
}
header nav .title-bar {
  font-size: 5rem;
  display: flex;
}
@media (max-width:819px) {
  header nav .title-bar {
    width: auto;
  }
}
header nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 3rem;
}
header nav li {
  padding: 0px 10px;
}

.hamburger-menu {
  height: 5rem;
  width: auto;
  padding-right: 1rem;
}

#mobile-menu {
  z-index: 5;
  color: white;
  display: none;
  font-size: 3rem;
  flex-flow: column nowrap;
  align-items: center;
  background-color: darkgreen;
}
@media (min-width: 820px) {
  #mobile-menu {
    display: none;
  }
}
#mobile-menu > * {
  margin: 0.5rem 0px;
  border: 1px solid black;
  width: 90%;
  text-align: center;
}

@media (max-width:519px) {
  main {
    padding-top: 30rem;
  }
}

.top-layer {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
}
@media (max-width:819px) {
  .top-layer {
    top: 30%;
  }
}
@media (max-width:519px) {
  .top-layer {
    top: 50%;
  }
}
.top-layer button,
.top-layer p {
  margin: 10px auto;
  font-size: 3rem;
}
.top-layer button {
  background-color: darkgreen;
  color: white;
  border-radius: 10px;
}

.background-layer {
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
  z-index: -1;
  width: 100%;
}
@media (max-width:519px) {
  .background-layer {
    position: relative;
  }
}
@media (max-width:819px) {
  .background-layer {
    top: 10%;
    transform: scale(2.5);
  }
}
.background-layer img {
  width: 100%;
}

.copyright {
  text-align: center;
  font-size: 2rem;
}

/*# sourceMappingURL=index.css.map */
