
$phone: "(max-width:519px)";
$tablet: "(max-width:819px)";
$desktop: "(min-width: 820px)";
$largest: 8rem;
$large: 5rem;
$medium: 3rem;
$background: lightgreen;
$emphasis: darkgreen;
$text-em: white;
