@import "base";
@import "nav";

.biography {
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  text-align: right;
  &:nth-child(even) {
    flex-direction: row-reverse;
    text-align: left;
  }
  .portrait, .info {
    width: 48%;
  }
  .github-logo {
    width: 30%;
  }
}
