@import "base";
@import "nav";

main {
  width:80%;
  margin:auto;
  display: flex;
  flex-flow: row wrap;
  @media #{$tablet} {
    flex-flow: column;
  }
  @media #{$phone}{
    width:95%;
  }
}

.biography {
  padding: 10px;
  width: 49%;
   @media #{$tablet} {
   width:100%;
  }
  margin: 5px auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  text-align: right;
  font-size: 2rem;

  border: 2px solid black;
  border-radius: 10px;
  // &:nth-child(even) {
  //   flex-direction: row-reverse;
  //   text-align: left;
  // }
  & > * {
    width: 48%;
  }
  .github-logo {
    width: 30%;
  }
}

.top-button {
  font-size: 2rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 12rem;
  height: 2.1rem;
  z-index: 10;
  text-align: center;
  background-color: $emphasis;
  color: $text-em;
  border-radius: 0.5rem;
  border: 1px solid black
}
